h2{
	margin-left:28%;
	font-weight:bold;
	color:#33ACFF;
	margin-top:10%;
}
.questions{
	margin-top:10%;
}

.questions font{
	color:#33ACFF;
	
}

.time{
	font-size:20px;
}
.questions h3{
	color:grey;
	font-weight:bold;
}